h2= toolbox.name

= link_to "Edit", edit_toolbox_path(toolbox)
= link_to "Delete", toolbox_path(toolbox), method: :delete
= link_to "Back", controller: params[:controller], action: "index"
= link_to "View Hydrospanners", toolbox_hydrospanners_path(toolbox)

dl
    dt Name
    dd= toolbox.name
