h2= @resource.to_param

= link_to "Edit", url_for([:edit, @resource])
= link_to "Delete", url_for([@resource]), method: :delete
= link_to "View Hydrospanners", toolbox_hydrospanners_path(@resource)
= link_to "Back", controller: params[:controller], action: "index"
